
<div id="clouds">
  <span class="logo">
    <%= image_tag "big_logo.png" %>
  </span>

  <span class="white-cloud">
    <%= link_to image_tag("park.jpg"), new_activity_path({:'data-type' => 'active'})%>
  </span>

  <span class="white-cloud">
    <%= link_to image_tag("restaurant.jpg"), new_activity_path({:'data-type' => 'restaurants'}) %>
  </span>

  <span class="white-cloud">
      <%= link_to image_tag("see_something.jpg"), new_activity_path({:'data-type' => 'arts'}) %>
  </span>

  <span class="white-cloud">
    <%= link_to image_tag("DrinkSomethingCloud.png"), new_activity_path({:'data-type' => 'bars'}) %>
  </span>

</div>
