
<div id="clouds">
  <div class="logo"><%= image_tag "big_logo.png" %></div>
  <div class="cloud x1">
    <%= image_tag "white-cloud.png" %>
    <div class="words-on-cloud">
      <%= link_to "Do Something", new_activity_path %>
    </div>
  </div>

  <div class="cloud x1">
    <%= image_tag "white-cloud.png" %>
    <div class="words-on-cloud">
      <%= link_to "Eat Something", new_activity_path %>
    </div>
  </div>

  <div class="cloud x6">
    <%= image_tag "white-cloud.png" %>
    <div class="words-on-cloud">
      <%= link_to "See Something", new_activity_path %>
    </div>
  </div>

  <div class="cloud x6">
    <%= image_tag "white-cloud.png" %>
    <div class="words-on-cloud">
      <%= link_to "Drink Something", new_activity_path %>
    </div>
  </div>

  <div class="cloud x6">
    <%= image_tag "white-cloud.png" %>
    <div class="words-on-cloud">
      <%= link_to "Share Something", new_activity_path %>
    </div>
  </div>

  <div class="alien">
    <%= image_tag "alien_head.png" %>
  </div>
</div>