
<div id="clouds">
  <span class="logo">
    <%= image_tag "big_logo.png" %>
  </span>

  <span class="white-cloud">
    <%= link_to image_tag("DoSomethingCloud.png"), new_activity_path %>
  </span>

  <span class="white-cloud">
    <%= link_to image_tag("EatSomethingCloud.png"), new_activity_path %>
  </span>

  <span class="white-cloud">
      <%= link_to image_tag("SeeSomethingCloud.png"), new_activity_path %>
  </span>

  <span class="white-cloud">
    <%= link_to image_tag("DrinkSomethingCloud.png"), new_activity_path %>
  </span>

  <span class="alien">
    <%= image_tag "alien_head.png" %>
  </span>
  <span class="login-link">
<%= link_to "Login", login_path %>
</span>
</div>
