
  <div id="clouds">
    <%= image_tag "big_logo.png" %>
  <div class="cloud x1">
    <div class="words-on-cloud">  <%= link_to "Do a Thing", new_activity_path %> </div>
  </div>
  <div class="cloud x2">
    <div class="words-on-cloud">  <%= link_to "Eat a Thing", new_activity_path %> </div>
  </div>
  <div class="cloud x3">
    <div class="words-on-cloud">  <%= link_to "See a Thing", new_activity_path %> </div>
  </div>
  <div class="cloud x4">
    <div class="words-on-cloud">  <%= link_to "Drink a Thing", new_activity_path %> </div>
  </div>
  <div class="cloud x5">
    <div class="words-on-cloud"> <%= link_to "Share a Thing", new_activity_path %> </div>
  </div>
</div>