<h1>Enter Your Location</h1>
<div id="map-container">
  <div id="map-canvas"></div>

  <div id="geocoding_fields">
    <%= text_field_tag :search, params[:search], placeholder: "Enter a place", :id => 'search_box_geocoding', class: 'search_box' %>
    <%= button_tag "Search", id: "submit_button_geocoding", data: { disable_with: "Please wait..." }, class: "submit_button" %>
  </div>
</div>

<table>
  <tr>
    <th>id</th>
    <th>Name</th>
    <th>Phone Number</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Cuisine</th>
  </tr>

<% count = 0 %>
<% @activities.each do |activity| %>

 <!--<%count = count.to_i + 1 %> -->
  <tr>
    <td><%= activity.address %></td>
    <td><%= link_to 'Activity', activity %></td>
    </tr>
<% end %>
</table>


<br />

<%= link_to 'New Listing', activity_path %>
