<div class="user-register">
  <h1>Register</h1>
  <div class="user-register-form">
    <%= form_for @user do |f| %>
      <%= f.label :username %>
      <%= f.text_field :username %><br/>

      <%= f.label :email %>
      <%= f.text_field :email %><br/>

      <%= f.label :phone_number %>
      <%= f.text_field :phone_number %><br/>

      <%= f.label :password %>
      <%= f.password_field :password %><br/>
      <%= f.submit %>
    <% end %>
  </div>
</div>
