<div class="page-container">
  <div class="content">
    <div class="create-activity">
      <h3> Activity Finder </h3>
      <div id="new-activity-form-container">
        <%= form_tag ("/activities") %>
        <p><%= label_tag 'Your Location' %>:</p>
        <p><%= text_field_tag 'user_location' %></p>
        <p></p>

        <p><%= label_tag "Friend's Location" %>:</p>
        <p><%= text_field_tag 'friend_location' %></p>
        <p><%= label_tag "Activity" %>:</p>
        <p><%= text_field_tag 'activity' %></p>
        <br></br>
        <%= submit_tag 'Find our Middle Ground!' %>
        <br></br>
      </div>
    </div>
  <section id="user-location">
    <article>
    </article>
    <!-- <div id="map_container"></div> -->
  </section>
  </div>
</div>