<div class="page-container">
  <div class="content">
    <div class="create-activity">
      <br>
      <div class="row">
        <div class="large-6 small-12 large-centered small-centered columns">
          <p class="error-message"></p>
        </div>
      </div>
      <div class="row">
        <div class="large-6 small-12 large-centered small-centered columns">
          <h3> What's the Middle Ground? </h3>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="large-6 small-12 large-centered small-centered columns">
          <div id="new-activity-form-container">
              <%= form_tag ("/activities") %>
            <p><%= label_tag "Who are you meeting?" %></p>
            <p><%= select_tag(:user, options_for_select(@users)) %></p>
            <p><%= label_tag "Activity:" %></p>
            <p><%= select_tag(:activity, options_for_select(@category_filter))%></p>
            <p><%= submit_tag 'Find us the MiddleGround!' %></p>
            <div>
          </div>
          <br>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="large-6 small-12 large-centered small-centered columns">
        <section id="user-location">
          <article>
          </article>
        </section>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="large-6 small-12 large-centered small-centered columns">
        <div class="yelp-logo">
          <span><%= image_tag "yelp-logo-large.png" %></span>
        </div>
      </div>
    </div>
    <br><br>
    </div>
  </div>
</div>

