<div class="page-container">
  <div class="content">
    <div class="create-activity">
      <br>
      <div class="row">
        <div class="large-6 small-6 large-centered small-centered columns">
          <p class="error-message"></p>
        </div>
      </div>
      <div class="row">
        <!-- <div class="large-12 small-12 large-centered small-centered columns"> -->
          <div id="activity-new" class="title-area">What's the Middle Ground?</div>
        </div>
      </div>
      <br>
      <div class="row">

        <div class="large-4 small-8 large-centered small-centered columns">
          <div id="new-activity-form-container">
            <div class="form_fields">
              <%= form_tag ("/activities") %>

              <p><%= label_tag "Who are you meeting?" %></p>
              <p><%= select_tag(:user, options_for_select(@users)) %></p>
              <p><%= label_tag "Activity:" %></p>
              <p><%= select_tag(:activity, options_for_select(@category_filter))%></p>
              <p><%= submit_tag 'Find us the MiddleGround!' %></p>
            </div>
          <div>
        </div>
          <br>

      </div>
    </div>
    <div class="row">
      <section class="large-6 small-8 large-centered small-centered columns" id="user-location">
        <article class="map-container">
        </article>
      </section>
    </div>
    <br>
    <!-- <div class="row"> -->
      <!-- <div class="large-6 small-12 large-centered small-centered columns"> -->
        <div class="yelp-logo">
          <span><%= image_tag "yelp-logo-large.png" %></span>
        </div>
      <!-- </div> -->
    <!-- </div> -->
    <br><br>
    </div>
  </div>
</div>

