<div class="page-container">
  <div class="content">
    <div class="create-activity">
      <h3> What's the Middle Ground? </h3>
      <div id="new-activity-form-container">
        <%= form_tag ("/activities") %>
        <p><%= label_tag 'Your Location' %>:</p>
        <p><%= text_field_tag 'user_location' %></p>
        <p></p>

        <p><%= label_tag "Who are you meeting?" %>:</p>
        <p><%= select_tag(:user, options_for_select(@users)) %></p>
        <p><%= label_tag "Activity" %>:</p>
        <p><%= select_tag(:activity, options_for_select(@category_filter))%></p>
        <br></br>
        <%= submit_tag 'Find Us Something!' %>
        <br></br>
      </div>
    </div>
  <section id="user-location">
    <article>
    </article>
    <!-- <div id="map_container"></div> -->
  </section>
  </div>
</div>
40.661774, -73.959614
