<!DOCTYPE html>
<html>
<head>
  <title>Middleground</title>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<<<<<<< b0e03e78a48946bd7c01c3a240d913367f4ee134
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCo3bKaVBu8hjiT6-AwiedIaDOMq7mdDig&callback=initMap"></script>
=======

  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCo3bKaVBu8hjiT6-AwiedIaDOMq7mdDig&callback=initMap">
    </script>

>>>>>>> Take out trial js code

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCo3bKaVBu8hjiT6-AwiedIaDOMq7mdDig&callback=initMap"></script>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
