<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCo3bKaVBu8hjiT6-AwiedIaDOMq7mdDig&libraries=geometry">
  </script>

  <title><%= content_for?(:title) ? yield(:title) : "MiddleGround" %></title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div class="top-bar">
    <div class="top-bar-left">
      <ul class="dropdown-menu" data-dropdown-menu>
        <li class="menu-text">
          <%= link_to 'Home', root_path  %>
        </li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
      <% if logged_in? %>
        <li><a href="/users/<%=current_user.id%>"><%=current_user.username%></a></li>
        <li><span class="logout-link">
          <%= link_to "Logout", logout_path %>
        </span></li>
      <% else %>
        <li><span class="login-link">
          <%= link_to "Login", login_path %>
        </span></li>
      <% end %>
    </ul>
    </div>
  </div>

  <%= yield %>

</body>
</html>


